doctype 5
html(lang="en")
    head
        link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel="stylesheet")
        script(type='text/javascript',src='lib/jquery-1.7.2.min.js')
        script(type='text/javascript',src='lib/angular/angular.min.js')
        title= title
    body
        div.navbar
            div.navbar-inner
                a.brand(href="#") Title
                ul.nav
                    li.active
                        a(href="#") Deck Builder
                    li
                        a(href="/decks") Decks
