doctype 5
html(lang="en")
    head
        link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel="stylesheet")
        link(href="/css/style.css", rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block head
    body.container-fluid
        div#top-bar
            div.row-fluid.gapper
                div.span4.top-gap
                    a(href="/")
                        h1(style="display: inline; float: left; padding-left: 20px;") MTG Illusion
                        img(style="display: inline; margin: -10px 0 0 10px", src="/img/illusion.png")
                div.span4.top-gap
                    ul#nav
                        li.active
                            a(href="/deckBuilder") Deck Builder
                        li
                            a(href="/decks") Decks
                div.top-gap.pull-right
                    script
                        <!--
                        google_ad_client = "ca-pub-8959125242059762";
                        /* mtg illusion add */
                        google_ad_slot = "9903352023";
                        google_ad_width = 320;
                        google_ad_height = 50;
                        //-->

                    script(src="//pagead2.googlesyndication.com/pagead/show_ads.js")

        block content

        script
            var _gaq=[["_setAccount","UA-39500706-1"],["_trackPageview"]];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.async=1;g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
            s.parentNode.insertBefore(g,s)}(document,"script"));
            