

head
    title=name

body
    ul(style="width:1000px")
        each card in deck.cards
            li(style="display: inline; list-style: none; padding: 0px; margin-left: 3px; margin-right:3px;")
                img(src="/mtgimages/#{card.name.toUpperCase().replace(/ /g, '_')}.jpg")